{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyline Ict</title>
    <link rel="stylesheet" href="{% static 'skyline.css' %}">
</head>
<body>

    <!-- Logo -->
    <header>
        <img src="{% static 'Images/LOGO.png' %}" alt="" class="logo">
        <p>

            <!-- address -->
        <div class="address"> <div class="info"> <img src="{% static 'Images/C          omputer.jpg' %}" alt="" class="message"> info@skylineIct.com
        </div></div>

        <div class="phone"> <img src="{% static 'Images/viber.png' %}" alt="" class="viber">+234 567 323 12</div>


<!-- lineup -->
   <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Contact</a></li>
   </ul>

</header>

    <!-- social media -->
<div class="offers">
   

<!-- software training -->
<div class="picture2"><img src="{% static 'Images/app.png' %}" alt="" width="200px" height="200px"><a href="#"><h1>App development</h1></a><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> nisi sunt ratione voluptas error dolores accusamus doloribus ad! <br> Aut voluptas, adipisci aliquam ullam ipsam in nulla inventore expedita!</p></div>


<div class="picture2"><img src="{% static 'Images/train.png' %}" alt="" width="200px" height="200px"><a href="#"><h1>Software training</h1></a><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> nisi sunt quo ratione voluptas error dolores accusamus doloribus ad! <br> Aut voluptas, adipisci aliquam ullam ipsam in nulla inventore expedita!<p></div>

<!-- web development -->

<div class="picture3"> <img src="{% static 'Images/app.png' %}" alt="" width="200px" height="200px"><a href="#"><h1>Web development</h1></a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Ipsum officia vitae alias optio vel at maiores laborum eligendi! Voluptatibus, dolorum! <br> Facere eos officiis nisi sunt iure ea molestiae, dolores vero.</div></div>



<!-- footer -->
<footer class="footer"><div><h1>Port-harcourt Office</h1>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. Natus earum consectetur neque, <br> laudantium optio placeat sequi saepe nam </div>

<!-- f2-->
<div><h1>About Us</h1>Lorem ipsum dolor sit, amet consectetur <br>
    adipisicing elit. Illo sed accusamus eligendi <br> ipsum blanditiis, nam rem .</div>

<!-- f3 -->
<div><h1>United States</h1> br Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Deserunt, ipsa. Rem, iste aut modi quis quas quaerat <br> sapiente sint accusantium autem? .</div>
</footer>

<div class="block"></div>



    
       
    
  


    
</body>